@import './video-player.css';

:root {
  --clr-light: #fff8dc;
  --clr-light-blue: #9ee5ff;
  --clr-dark-purple: #964167;
  --clr-purple: #9B6297;

  --shadow-small: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

html,
body,
main {
  height: 100vh;
}

main {
  padding: 1.5rem;
}

body {
  background-color: var(--clr-light);
}
