.rating {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--clr-neutral-300);
  background: linear-gradient(to top, var(--clr-neutral-700), var(--clr-neutral-650));
}

.rating_hidden {
  display: none;
}

.rating__star-decoration {
  order: -1;
  align-self: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  box-sizing: content-box;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-600);
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.rating__heading {
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--clr-neutral-100);
  text-align: center;
}

.rating__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 450px) {
  .rating__heading {
    text-align: start;
  }

  .rating__content {
    text-align: start;
  }

  .rating__star-decoration {
    align-self: start;
  }
}
