.rating-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--clr-neutral-300);
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: linear-gradient(to top, var(--clr-neutral-700), var(--clr-neutral-650));
}

.rating-feedback_hidden {
  display: none;
}

.rating-feedback__decoration {
  order: -2;
}

.rating-feedback__rating-value {
  padding: 0.75em 1.25em;
  order: -1;
  margin-bottom: 1rem;
  background-color: var(--clr-neutral-600);
  border-radius: 9999px;
  font-weight: 700;
  color: var(--clr-primary-400);
}

.rating-feedback__heading {
  color: var(--clr-neutral-100);
}

.rating-feedback__content {
  font-size: 1.25rem;
}
