.rating-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rating-form__stars-fieldset {
  border: none;
}

.rating-form__stars-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rating-form__star-input {
  appearance: none;
}

.rating-form__star-label {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  border-radius: 9999px;
  background-color: var(--clr-neutral-600);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.rating-form__star-label:hover {
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
}

.rating-form__star-input:checked + .rating-form__star-label {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.rating-form__star-input:focus + .rating-form__star-label {
  outline: 2px solid var(--clr-neutral-100);
  outline-offset: 4px;
}

.rating-form__submit-button {
  padding: 0.75em;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  cursor: pointer;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.rating-form__submit-button:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
}

.stars-fieldset {
  position: relative;
}

.stars-fieldset__required-message {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  padding: 0.75em;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.25s linear;
}

.stars-fieldset__required-message_visible {
  opacity: 1;
  visibility: visible;
}

.stars-fieldset__required-message::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(80%);
  width: 1rem;
  height: 1rem;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

@media (min-width: 450px) {
  .rating-form__stars-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .rating-form__star-label {
    box-sizing: content-box;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
}
